{% extends 'basepage.html' %}
{% block content %}
 <p vocab="http://schema.org/" typeof="MusicAlbum">
        Album name:  <span property = "Name">{{ album.name }}</span>
        [<span typeof="MusicGroup" rel="byArtist" pk=album.artist.pk format='' %}">
        	<span property="name"><a href="{% url 'UTD:artist_detail' pk=album.artist.pk format='' %}">{{ album.artist.name }}</a>
            </span>
        </span>]
        <br>
        Release date: <span property="DatePublished">{{ album.release_date }}</span>
        <br>
        <br>
        <a href="{% url 'UTD:album_providers' pk=album.pk format='' %}">Album providers</a>
</p>
    <p>
        <a href="{% url 'UTD:album_songs' pk=album.pk format='' %}">Songs</a>
    </p>
{% endblock %}