{%  extends "basepage.html" %}
{%  block content %}
    <ul>
        {% for provider in provider_list %}
            <li>
                <a href="{{ provider.link }}" target="_blank">{{ provider.provider_name }} &lt;{{ provider.link }}&gt;</a>
                {% if provider.user ==  user %}
                    &nbsp;<a href="{% url "UTD:provider_delete" pk=provider.pk %}">(Delete)</a>
                {% else %}
                    &nbsp;(Added by: {{ provider.user.username }})
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <a href="{% url "UTD:provider_create" pk=album.pk %}">Add a provider</a>
    <br>
    <a href="{% url "UTD:album_detail" pk=album.pk format='' %}">Back to album.</a>
{%  endblock %}