{% extends 'basepage.html' %}
{% block content %}
    <p>
        Artist: {{ artist.name }}
        <br>
        {% if not user.is_anonymous %}
            <a href="{% url 'UTD:artist_follow' artist.pk %}">Follow</a></li>
        {% endif %}
        <br>
        {% if album != None %}
        Last album released: <a href="{% url 'UTD:album_detail' pk=album.pk %}">{{ album }}</a>
        <br>
        {% endif %}
        <a href="{% url 'UTD:artist_albums' pk=artist.pk %}">More albums</a>
    </p>
{% endblock %}