
{% extends 'basepage.html' %}
{% block content %}
    <div vocab="https://schema.org" typeof="MusicGroup">
        <p>
            Artist: <span property="name">{{ artist.name }}</span>
            <br>
            {% if not user.is_anonymous %}
                <a href="{% url 'UTD:artist_follow' artist.pk %}">Follow</a></li>
            {% endif %}
            <br>
            {% if album != None %}
                <span typeof="MusicAlbum" rel="album" pk=album.pk format='' %}">
                    Last album released: <span property="name"><a href="{% url 'UTD:album_detail' pk=album.pk format='' %}">{{ album }}</a></span>
                </span>
            <br>
            {% endif %}
            <a href="{% url 'UTD:artist_albums' pk=artist.pk format=''%}">More albums</a>
        </p>
    </div>
{% endblock %}