<html>
  <head>
  <title>{{ titlehead}}</title>
  </head>
<body>
    <div>
        {% if user.is_anonymous %}
            Not logged in.
            <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
        {% else %}
            User: {{ user }}
            <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
        {% endif %}
        <hr>
    </div>

    <h1>{{ pagetitle }}</h1>

{% block content %}
{% endblock %}

    <hr>
    <a href="{% url 'UTD:index' %}">Back to main</a>

</body>
</html>