<html>
  <head>
  <title>{{ titlehead}}</title>

      <!-- ajax scripts -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  </head>
<body>
    <div>
        {% if user.is_anonymous %}
            Not logged in.
            <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
        {% else %}
            User: {{ user }}
            <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
        {% endif %}
        <hr>
    </div>

    <h1>{{ pagetitle }}</h1>

{% block content %}
{% endblock %}

    <hr>
    <a href="{% url 'UTD:index' %}">Back to main</a>

</body>
</html>