{% extends 'basepage.html' %}
{% block content %}
    <ul>
        {% for playlist in playlist_list %}
            <li><a href="{% url 'UTD:playlist_songs' username=playlist.user.username pk=playlist.pk format='' %}">{{ playlist.name }}</a>
                (<a href="{% url 'UTD:edit_playlist' username=playlist.user.username pk=playlist.pk format='' %}">modify</a>)
                (<a href="{% url 'UTD:delete_playlist' username=playlist.user.username pk=playlist.pk format='' %}">delete</a>)
            </li>
        {% endfor %}
    </ul>

{% endblock %}