{% extends 'basepage.html' %}
{% block content %}
    <div vocab="https://schema.org" typeof="MusicRecording">
        Song: ----> <span property="name">{{ song.name }}</span>
        <br>
        Album: --->
            <span property="inAlbum" typeof="MusicAlbum" resource="{{ request.get_host }}{% url 'UTD:album_detail' pk=song.album.pk format='' %}">
                <span property="name">
                    <a href="{% url 'UTD:album_detail' pk=song.album.pk format='' %}">{{ song.album }}</a>
                </span>
            </span>
        <br>
        Artist: --->
            <span property="byArtist" typeof="MusicGroup" resource="{{ request.get_host }}{% url 'UTD:artist_detail' pk=song.album.artist.pk format='' %}">
                <span property="name">
                    <a href="{% url 'UTD:artist_detail' pk=song.album.artist.pk format='' %}">{{ song.album.artist }}</a>
                </span>
            </span>
    </div>
{% endblock %}