{% extends 'basepage.html' %}
{% block content %}
    <div vocab="https://schema.org/" typeof="MusicAlbum">
    <ul rel="track">
        {% for song in songs_list %}
            <li typeof="MusicRecording"><span property="name"><a href="{% url 'UTD:song_detail' pk=song.pk format='' %}">{{ song.name }}</a></span></li>
        {% endfor %}
    </ul>
    Back to album <span property="name"><a href="{% url 'UTD:album_detail' pk=album.pk format='' %}">{{ album.name }}</a></span>
    </div>
{% endblock %}